@import 'src/assets/style/px2rem.scss';

.upload-image-list {
    border-radius: px2rem(10);
    overflow: hidden;
    margin-top: px2rem(20);
    img {
        width: 100%;
        height: px2rem(400);
        object-fit: cover;
        display: block;
    }
}
.edit {
    height: px2rem(500);
    display: flex;
    flex-direction: column;
    img {
        height: px2rem(400);
    }
    
}
.line {
    width: 100%;
    height: 10px;
    border-bottom: 1px dashed #ccc;
    // margin-top: px2rem(20);
}
.delete-button {
    width: 100%;
    color: red;
    flex: 1;
    border: 1px dashed red;
    border-top: 0;
    border-radius: 0 0 px2rem(10) px2rem(10);
    line-height: px2rem(100);
    background: #ead6d6;
    text-align: center;
}