@import 'src/assets/style/px2rem.scss';

.upload-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .upload-container {
        width: 100%;
        flex: 1;
        padding: 0 px2rem(20);
        overflow-y: auto;
        position: relative;
        padding-bottom: px2rem(100);
        .update-bottom {
            width: 100%;
            height: px2rem(100);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 px2rem(30);
            position: fixed;
            background: #fff;
            bottom: 0;
            box-shadow: 0px 0px 6px 0px #ccc;
            left: 0;
            z-index: 99;
            .update-button {
                width: px2rem(200);
                height: px2rem(60);
                text-align: center;
                line-height: px2rem(60);
                box-shadow: 0px 0px 17px 0px #ccc;
                border-radius: px2rem(10);
            }
        }
    }
}