@import 'src/assets/style/px2rem.scss';

.upload-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .upload-container {
        width: 100%;
        flex: 1;
        padding: 0 px2rem(20);
        overflow-y: auto;
        position: relative;
        .update-bottom {
            width: 100%;
            height: px2rem(100);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 px2rem(30);
            position: fixed;
            background: #ffffffa3;
            bottom: 0;
            box-shadow: 0px 0px 6px 0px #ccc;
            left: 0;
            .update-button {
                width: px2rem(200);
                height: px2rem(60);
                text-align: center;
                line-height: px2rem(60);
                box-shadow: 0px 0px 17px 0px #ccc;
                border-radius: px2rem(10);
            }
        }
    }
}
.bottomImageBg{
    position: fixed ;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  .bottomImage{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #508CEE;
    background: #fff;
    z-index: 1000;
    font-size: px2rem(30);
    .img-select{
      display: block;
      height: px2rem(90);
      line-height: px2rem(90);
      border-bottom: 1px solid #ddd;
    }
    .img-select-cancel{
      display: block;
      height: px2rem(90);
      line-height: px2rem(90);
      border-top: px2rem(6) solid #999;
  
    }
    label{
      display: block;
      width: 100%;
      height: 100%;
    }
  
  }