@import 'src/assets/style/px2rem.scss';

.upload-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .upload-container {
        width: 100%;
        flex: 1;
        padding: px2rem(40) px2rem(20);
        overflow-y: auto;
        .upload-image-list {
            border-radius: px2rem(10);
            overflow: hidden;
            margin-top: px2rem(20);
            img {
                width: 100%;
                height: px2rem(400);
                object-fit: cover;
                display: block;
            }
        }
    }
}
.bottomImageBg{
    position: fixed ;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  .bottomImage{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #508CEE;
    background: #fff;
    z-index: 1000;
    font-size: px2rem(30);
    .img-select{
      display: block;
      height: px2rem(90);
      line-height: px2rem(90);
      border-bottom: 1px solid #ddd;
    }
    .img-select-cancel{
      display: block;
      height: px2rem(90);
      line-height: px2rem(90);
      border-top: px2rem(6) solid #999;
  
    }
    label{
      display: block;
      width: 100%;
      height: 100%;
    }
  
  }