@import 'src/assets/style/px2rem.scss';

.game-header-wrap {
    width: 100%;
    height: px2rem(100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 px2rem(30);
    box-shadow: -1px 1px 1px #ccc;
}