@import 'src/assets/style/px2rem.scss';

.upload-image {
    width: 100%;
    height: px2rem(300);
    border: 1px dashed #ccc;
    border-radius: px2rem(10);
    position: relative;
    margin-top: px2rem(20);
    .am-image-picker {
        display: inline-block;
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        z-index: 22;
        .am-image-picker-list {
            width: 100%;
            height: 100%;
            .am-flexbox-align-center {
                width: 100%;
                height: 100%;
                display: block;
                .am-flexbox-item {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .icon-add {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 40px;
        margin-left: -20px;
        margin-top: -20px;
        z-index: 20;
        color: #ccc;
    }
}
.bottomImageBg{
    position: fixed ;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  .bottomImage{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #508CEE;
    background: #fff;
    z-index: 1000;
    font-size: px2rem(30);
    .img-select{
      display: block;
      height: px2rem(90);
      line-height: px2rem(90);
      border-bottom: 1px solid #ddd;
    }
    .img-select-cancel{
      display: block;
      height: px2rem(90);
      line-height: px2rem(90);
      border-top: px2rem(6) solid #999;
  
    }
    label{
      display: block;
      width: 100%;
      height: 100%;
    }
  
  }