@font-face {
  font-family: 'FZSJ-AINDXMM';
  src: url('../src/assets/font/FZSJ-AINDXMM.ttf');
}

body {
  margin: 0;
  font-family: FZSJ-AINDXMM, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


